<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="refresh" content="5;url=/upload.html" />
        <title>ChatWrap</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <div class="content">
            <img class="logo" src="images/logo-blue.png">
            <br><br><br>
            <img class="loading" src="images/loader.gif">
        </div>
        
    </body>
</html>