<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>ChatWrap</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/style-love.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata" />
    <meta http-equiv="refresh" content="12;url=/love/l3.html" />

</head>

<body class="l1" style="background-color: var(--white)">
    <div class="content" style="background-color: var(--p2);color: var(--white);">
        <div class="top row slidedown">
            <div
                style="width: 100%; display: flex;flex-direction: row;flex: 0 0 auto;align-items: center;text-align: center;">
                <img src="/images/icons/staris.png" style="height: 8vh;">
                <span style="font-family: Shrikhand;">LOOOOOONGEST MESSSSAAAGEEE</span>
                <img src="/images/icons/staris2.png" style="height: 8vh">
            </div>
        </div>
        <div class="middle row">
            <div class="item slideleft box"
                style="padding: 20px;margin-top: 20px; background-color: var(--white);color: var(--p2);border-radius: 25px 25px 25px 0px;">
                <span class="text1" style="margin-bottom: 30px;">Bilal has sent a message on 26/08/2023, that has</span>
                <h1 class="heading"
                    style="font-family: Shrikhand, monospace;font-size: 30px;margin-top: 10px;margin-bottom: 0px;">209
                    Words</h1>
            </div>
            <div class="item slideright box"
                style="text-align: right;padding: 20px;margin-top: 20px; background-color: var(--white);color: var(--p2);border-radius: 25px 25px 0px 25px;">
                <span class="text1" style="margin-bottom: 30px;">Bilal has sent a message on 26/08/2023, that has</span>
                <h1 class="heading"
                    style="font-family: Shrikhand, monospace;font-size: 30px;margin-top: 10px;margin-bottom: 0px;">209
                    Words</h1>
            </div>
            <div class="item fade-in-third" style="margin-top: 20px; text-align: center;display: flex;justify-content: center;align-items: center;">
                <span style="font-family: Shrikhand;font-weight: normal;font-size: 10px;">this person is a novelist for sure.
                    go write a book!</span>
            </div>
        </div>
        <div class="bottom row slideup" style="justify-content: center;align-items:center;text-align: center;">
            <div style="border-radius: 25px;width: 100%;background-color: var(--white);height: fit-content;margin-top: -20px;margin-bottom: 20px;">
            <img class="logo" src="/images/logo-pink.png" /></div> 
            <div class="time-bar" style="background-color: var(--white);"></div>
        </div>
    </div>
</body>

</html>