<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>ChatWrap</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/style-love.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata" />
    <meta http-equiv="refresh" content="12;url=/love/l4.html" />
</head>

<body class="l1">
    <div class="content">
        <div class="floater fade-in-third"
            style="z-index: 0;border-radius: 50%;border: var(--s2) 20px solid;height: auto;width: 50%;aspect-ratio: 1/1; position: fixed;background-color: transparent;">
        </div>
        <div class="top row fade-in-first floater" style="margin-top: -100px;">
            <div style="width: 100%;display: flex;flex-direction: row;">
                <div style="width: 70%;"> <span style="font-family: Shrikhand;font-size: 30px;">Who feels what?</span>
                </div>
                <div style="width: 30%;"><img src="/images/icons/hearts.png" / style="height: 8vh;"></div>
            </div>
        </div>
        <div class="middle row fade-in-second">
            <div class="donut-chart-block block firstchart" style="margin-top: -30px;transform: translateX(-50px);">
                <div class="donut-chart floater">
                    <div id="part1" class="portion-block">
                        <div class="circle"></div>
                    </div>
                    <div id="part2" class="portion-block">
                        <div class="circle"></div>
                    </div>
                    <div id="part3" class="portion-block">
                        <div class="circle"></div>
                    </div>
                </div>
                <p class="center"><span style="position: absolute; transform: translateX(120px);">Bilal</span></p> 
            </div>
            <div class="donut-chart-block block secondchart"  style="transform: translateX(50px);">
                <div class="donut-chart floater">
                    <div id="part1" class="portion-block">
                        <div class="circle"></div>
                    </div>
                    <div id="part2" class="portion-block">
                        <div class="circle"></div>
                    </div>
                    <div id="part3" class="portion-block">
                        <div class="circle"></div>
                    </div>
                </div>
                <p class="center"><span style="position: absolute; transform: translate(-180px,70px);">Sasmitha</span></p> 

                <!--
                <div class="item" style="margin-top: -20px;animation: floater 3s ease-in-out infinite;">
                    <span class="text1"> Bilal has sent </span><br>
                    <span class="numbertext">
                        200204<span class="numbertext" style="font-size: small">
                            words</span>
                    </span>
                </div>
                <div class="item" style="animation: floater 3s ease-in-out infinite;">
                    <span class="text1"> Sasmitha has sent </span><br>
                    <span class="numbertext">
                        200204<span class="numbertext" style="font-size: small">
                            words</span>
                    </span>
                </div>
                <div class="item box" style="margin-top: 20px;animation: floater 2.5s ease-in-out infinite;">
                    <h1 class="heading">Fun Fact</h1>
                    <span class="text1">The Average wpm in texting is 38 wpm, hence both of you have spent around, <span
                            class="numbertext">79,19,743 </span>minutes of texting each other.</span>
                </div>
-->
            </div>
            <div class="bottom row fade-in-third">
                <img class="logo" src="/images/logo-pink.png" />

                <div class="time-bar"></div>
            </div>
        </div>

</body>

</html>