<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>ChatWrap</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/style-love.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata" />
    <meta http-equiv="refresh" content="12;url=/love/l6.html" />
</head>

<body class="l1">
    <div class="content" >
        <div class="top row slidedown" style="justify-content: center;align-items:center;text-align: center;">
            <div
                style="border-radius: 25px;width: 100%;background-color: var(--white);height: fit-content;margin-top: -20px;margin-bottom: 20px;">
                <img class="logo" src="/images/logo-pink.png" />
            </div>
        </div>
        <div class="middle row" style="margin-top: -20px;margin-bottom: -20px;">
            <div class="slideleft item" style="text-align: center;align-items: center;">
                <span style="font-size: 40px;font-family: Shrikhand;">Sasmitha</span>
            </div>
            <div class="slideright">
                <ul class="pink">
                    <li>One</li>
                    <li>Two</li>
                    <li>Three</li>
                    <li>Four</li>
                    <li>Five</li>
                    </ul>
            </div>
        </div>
        <div class="bottom row slideup" style="justify-content: center;align-items:center;text-align: center;">
            <img src="/images/flower.gif" style="width: 90%;margin-top: -110px;">
            <div class="time-bar" style="margin-top: -10px;"></div>
        </div>
    </div>
</body>

</html>