<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>ChatWrap</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/style-love.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata" />
    <meta http-equiv="refresh" content="12;url=/love/l7.html" />
</head>

<body class="l1" style="background-color: var(--white)">
    <div class="content" style="background-color: var(--p2);color: var(--white);">
        <div class="top row slidedown">
            <div
                style="width: 100%; display: flex;flex-direction: row;flex: 0 0 auto;align-items: center;text-align: center;justify-content: center;">
                <span style="font-family: Shrikhand;">week-wise<br>texting streak</span>
            </div>
        </div>
        <div class="middle row">
            <div class="item slideleft"
                style="padding: 20px;margin-top: -70px;">
                <section class="bar-graph bar-graph-horizontal bar-graph-one">
                    <div class="bar-one">
                      <span class="year">SUN</span>
                      <div class="bar" data-percentage="69.6%"></div>
                    </div>
                    <div class="bar-two">
                      <span class="year">MON</span>
                      <div class="bar" data-percentage="71%"></div>
                    </div>
                    <div class="bar-three">
                      <span class="year">TUE</span>
                      <div class="bar" data-percentage="74.7%"></div>
                    </div>
                    <div class="bar-four">
                      <span class="year">WED</span>
                      <div class="bar" data-percentage="76.8%"></div>
                    </div>
                    <div class="bar-five">
                        <span class="year">THU</span>
                        <div class="bar" data-percentage="76.8%"></div>
                      </div>
                      <div class="bar-six">
                        <span class="year">FRI</span>
                        <div class="bar" data-percentage="76.8%"></div>
                      </div>
                      <div class="bar-seven">
                        <span class="year">SAT</span>
                        <div class="bar" data-percentage="76.8%"></div>
                      </div>
                  </section>            </div>
         </div>
        <div class="bottom row slideup" style="justify-content: center;align-items:center;text-align: center;">
                <div class="time-bar" style="filter: brightness(100);margin-top: 90px;"></div>
    </div>
</body>

</html>