<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>ChatWrap</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
</head>

<body>
  <div class="content">
    <br />
    <img class="logo" src="{{ url_for('static', filename='images/logo-blue.png') }}" alt="Logo">
    <div class="box">
      <form action="/upload"  method = "post" enctype="multipart/form-data">
        <div class="group" style="width: 100%;justify-content: center;text-align: center;align-items: center;align-content: center;">
        <input type="file" name="file" accept=".txt" class="button buttonBlue upldbtn" style="width:80%;height: 10vh; align-self: center;">
      </div>
      <input class="button buttonBlue" type="submit">
    </div>


  </form>
  </div>
  </div>
</body>

</html>